body {
    background: url(http://www.ie-wallpapers.com/data/out/242/36845960-wallpaper-modern.jpg);
    background-size:cover

}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 50px;
}
form {
    display: inline-block;
}
#outerDiv{

    padding: 30px;
    text-align: center;
}

#innerDiv{
    margin: auto;
    width: 200px;
    height: 100px;
}

#innerDiv li {
    margin: 0;
    padding: 4px 0px 0px 4px;
    text-align: left;
}

#innerDiv label {
    padding-left: 4px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ffffff;
    list-style-type: none;
    font-size: 18px;

}

#submit {

    position: absolute;
    padding: 10px 16px;
}

button {
    float: right
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    float: left;
    font-size: 16px;
    margin-right: 8px;
}
